{% extends "layout.html" %}
{% block content %}

	<h1> Page Under Construction! </h1>
        <p> This is an online quizzing system that will allow the users to make and take quizzes. 
		Students and professors will be able to login so that they could save the quizzes they make or to save the results from the quizzes they took.
		The different types of reader that the document is intended for high school teachers, high school students, college professors, and college students.</p> 

{% endblock content %}
