{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3 "></div>
    <div class="col-md-6">
        <form method="POST" action="">
            <fieldset class="form-group">
                <h2 class="text-center">Multiple Choice Questions</h2> 
                <br>
                <div class="form-group">
                    {% for q in range(mc_num) %}  
                    
                        <h4> Question {{ q+1 }} </h4>

                        {{ form.mc.question.label(class="form-control-label") }}
                        {{ form.mc.question(class="form-control form-control-lg") }}
                        
                        <br>
                        {{ form.mc.c1.label(class="form-control-label") }}
                        {{ form.mc.c1(class="form-control form-control-lg") }}
                        <br>
                        {{ form.mc.c2.label(class="form-control-label") }}
                        {{ form.mc.c2(class="form-control form-control-lg") }}
                        <br>
                        {{ form.mc.c3.label(class="form-control-label") }}
                        {{ form.mc.c3(class="form-control form-control-lg") }}
                        <br>
                        {{ form.mc.c4.label(class="form-control-label") }}
                        {{ form.mc.c4(class="form-control form-control-lg") }}
                        <br>
                        {{ form.mc.answer.label(class="form-control-label") }}
                        {{ form.mc.answer(class="form-control form-control-lg") }}
                        <br>
                        <hr>
                    {% endfor %} 
                </div> 

                <h2 class="text-center">True False Questions</h2>  
                <br>
                <div class="form-group">
                    {% for q in range(tf_num) %}

                        <h4> Question {{ q+1 }} </h4>

                        {{ form.tf.question.label(class="form-control-label") }}
                        {{ form.tf.question(class="form-control form-control-lg") }}
                        <br>
                        {{ form.tf.answer.label(class="form-control-label") }}
                        {{ form.tf.answer(class="form-control form-control-lg") }}

                        <hr>
                    {% endfor %} 
                </div>
                <br>
                <h2 class="text-center">Fill In The Blank Questions</h2>  
                <br>
                <div class="form-group">
                        {% for q in range(fib_num) %}

                        <h4> Question {{ q+1 }} </h4>

                        {{ form.fib.question.label(class="form-control-label") }}
                        {{ form.fib.question(class="form-control form-control-lg") }}
                        <br>
                        {{ form.fib.answer.label(class="form-control-label") }}
                        {{ form.fib.answer(class="form-control form-control-lg") }}

                        <hr>
                    {% endfor %} 
                
                </div>
                <br>
            
            <div class="form-group text-center"> 
                {{ form.submit(class="btn btn-primary") }} 

            </div>
            
            <hr>

        </fieldset>
        
        </form>
    </div>

{% endblock content %}