{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3 "></div>
    <div class="col-md-6">

        <div>
            <h4>Multiple Choice Questions:</h4> 
            <br>
            {% for q in range(mc_num) %}  
               
                {{ form.mc.question.label }}
                {{ form.mc.question }}
                
                <br>
                {{ form.mc.c1.label }}
                {{ form.mc.c1 }}
                <br>
                {{ form.mc.c2.label }}
                {{ form.mc.c2 }}
                <br>
                {{ form.mc.c3.label }}
                {{ form.mc.c3 }}
                <br>
                {{ form.mc.c4.label }}
                {{ form.mc.c4 }}

                <hr>
            {% endfor %}  

            <h4>True False Questions:</h4>  
            <!-- TO-DO: Fill this out using similar format to mult choice questions -->

            <h4>Matching Questions:</h4>  
            <!-- TO-DO: Fill this out using similar format to mult choice questions -->

            <br>
            
            <div class="text-center"> {{ form.submit }} </div>
            
            <hr>

        </div>

    </div>

{% endblock content %}