{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-3 "></div>
        <div class="col-md-6">
            <h1 class="text-center" style="padding-bottom: 30px;">Welcome to the Quiz App! </h1>
            <button type="button" class="btn btn-primary btn-lg btn-block" 
                style="background-color: rgb(85, 51, 80)">
                Make a Quiz
            </button>
            <button type="button" class="btn btn-primary btn-lg btn-block"
                style="background-color: rgb(85, 51, 80)">
                Take a Quiz
            </button>
        </div>
    </div>
{% endblock content %}


